.section {

  @extend %section;  
}

.features { 

    @media screen and (max-width: 767.98px) {

        &__item:not(:last-child) {
           margin-bottom: 30px;
        } 
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
      
        //width: 270px;
        height: 120px;
      
        margin-bottom: 30px;
        
        border-radius: $border-radius;      
        background-color: $button-bg-color;
    }

    &__subtitle {
        margin-bottom: 10px;
      
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__text {
    
        font-size: 14px;
        line-height: 1.71;

        color: $primary-text-color; 
    }

    

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        

        &__item {
            width: calc((100% - 30px) / 2);
        }
    }

    @media screen and (min-width: $desctop) {
        display: flex;

        &__item:not(:last-child) {
         margin-right: 30px;
        } 
    }
}


