.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $background-color;
}
.flex-container {

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }

}
.footer-contacts {

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
    }
 

    @media screen and (min-width: $desctop) {
        display: flex;
        align-items: baseline;
    }

}
.web-contacts {

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 60px;
    }
    

    @media screen and (min-width: $desctop) {
        margin-right: 70px;
    }

}
.logo-black {    

    @extend %logo;
    
    color: $white-text-color;   
}