.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $background-color;
}
.footer-contacts {
    display: flex;
    align-items: baseline;
}
.web-contacts {
    margin-right: 70px;
}
.logo-black {    
    @extend %logo;

    letter-spacing: 0.03em;
    color: $white-text-color;   
}