.header {
    border-bottom: $border #ececec;
  
    & .flex-container {
     display: flex;
     align-items: center;
    }
}
  
.flex-cont {
    display: flex;
    align-items: center;
}
  
.primary {
    @extend %logo;
    
    text-decoration: none;  
    color: $accent-text-color;
}
.logo-white {
    color: $black-color;
}