.header {
    border-bottom: $border #ececec;
  
    & .flex-container {
     display: flex;
     align-items: center;

     @media screen and (max-width: 767.98px) {
         padding-top: 16px;
         padding-bottom: 16px;        
        }
    }
}
  
.flex-cont {
    display: flex;
    align-items: center;
}
  
.primary {
    @extend %logo;
    
    text-decoration: none;  
    color: $accent-text-color;
}
.logo-white {
    color: $black-color;
}