.hero {
    padding-top: 118px;
    padding-bottom: 118px;
  
    background-color: #c4c4c4;
    text-align: center;
  
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/img-sm_480.jpg");

    @media screen and (min-device-pixel-ratio: 2),
     screen and (min-resolution: 192dpi),
     screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-sm_480@2x.jpg");
    }

    @media screen and (min-device-pixel-ratio: 3),
     screen and (min-resolution: 288dpi),
     screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-sm_480@3x.jpg");
    }

    @media screen and (min-width: 481px) {

        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
       ),
      url("../images/hero/img-md_768.jpg");
        
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
           background-image: linear-gradient(
               to right,
               rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)
           ),
           url("../images/hero/img-md_768@2x.jpg");
        }
       
      @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
           background-image: linear-gradient(
               to right,
               rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)
           ),
           url("../images/hero/img-md_768@3x.jpg");
        }
    }

    @media screen and (min-width: 769px) {

        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/img-lg_1600.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
           background-image: linear-gradient(
               to right,
               rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)
           ),
           url("../images/hero/img-lg_1600@2x.jpg");
       }
   
       @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
           background-image: linear-gradient(
               to right,
               rgba(47, 48, 58, 0.4),
               rgba(47, 48, 58, 0.4)
           ),
           url("../images/hero/img-lg_1600@3x.jpg");
       }
    }


    @media screen and (min-width: $desctop) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
 
.hero-title {
    margin-bottom: 30px;
  
    color: $white-text-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;


    @media screen and (min-width: $desctop) {

        font-size: 44px;
        line-height: 1.36;
    }
}