.social-links {

    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        margin-bottom: 60px;
    }


    @media screen and (min-width: $desctop) {
        margin-right: 93px;
    }
    

    &__subtile--white {
        margin-bottom: 20px;
      
        color: $white-text-color;
    }
}

.social-list__link--white {
    fill: $white-text-color;
}